@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button:hover {
  color: #ff7a59;
  border: #ff7a59 solid 2px;
  background:#fff;
}

#header {
  justify-content: center;
  font-family: 'Orelega One', cursive;
  color: #81D2C7;
  letter-spacing: 2px;
  height: 80px;
  box-shadow: 0 0 15px #B5BAD0;
}

/* ----SearchBar----- */

#search-bar {
  justify-content : center;
  align-items: center;
  height: 40px;
  /* background-color: #B5BAD0; */
  /* box-shadow: inset 0 0 5px #B5BAD0; */
}

#search-bar button {
  margin-left: 25px;
}

#main {
  height: calc(100vh - 120px);
}



/*----- BOOKLIST ------*/
#book-list {
  width: 75%;
  box-sizing: border-box;
  border-right: 2px solid #B5BAD0 ;
  padding: 20px 40px 0 10px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.book {
  width: 150px;
  align-items: center;
}

.book p {
  width: 120px;
  word-wrap: normal;
  font-size: 10px;
  text-align: center;
}

.book-img {
  width: 120px;

}

/*----- SHELF ------*/
#shelf {
  width: 25%;
  align-items: center;
  /* background-color: #7389AE; */
}

.shelf-title {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

#book-container {
  justify-content: center;
  align-items: center;
}

#message {
  font-family: 'Orelega One', cursive;
  font-size: 14px;
  width: 50%;
  color: #81D2C7;
  text-align: center;
}